.taskInput {
    display: block;
    border: none;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.taskInput:focus {
    background: transparent;
    border: none;
    outline: none;
}

.taskDescription {
    width: 100%;
    min-height: 100px;
    background: #f9f6e8;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.taskDescription::placeholder {
    color: #bb9e3d;
}