.container {
    background: #FFFFFF;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px;
}

.title {
    text-align: center;
}

.signupform {
    padding: 30px;
}

.forminput {
    width: 100%;
    min-height: 52px;
    padding: 10px 20px;
    margin: 8px 0 16px 0;
    display: inline-block;
    border: 1px solid #cecece;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.formlabel {
    font-size: 14px;
}

.primary {
    background: #303e9f;
    color: white;
    border: none;
    width: 100%;
    min-height: 52px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.small .primary {
    width: 100px;
}

.primary:hover {
    background: #25317c;
}

.createAccount {
    text-align: center;
}

.logo {
    text-align: center;
    margin: 50px;
}